.filter-item-cont {
  width: 100%;
  position: relative;
  label {
    position: absolute;
    top: -13px;
    background-color: white;
    font-size: 11px;
    left: 0.5rem;
    padding: 0;
    line-height: 0.2rem;
    font-weight: 600;
  }
  input {
    width: 100%;
    color: var(--grey);
    border: 1px solid var(--lightGrey);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: var(--background);
    &:disabled {
      border: 1px solid rgba(172, 172, 172, 0.116) !important;
    }
    &.error {
      border: 1px solid #f9ccd6;
    }
    &:focus {
      outline: none;
    }
    &.padding-left {
      padding-left: 3rem;
    }
  }
}
