.invoice-table {
  margin-right: 2rem;
  td:not(.small),
  th:not(.small) {
    min-width: 11rem;
  }
  td.text-center,
  th.text-center {
    text-align: center;
  }
  td svg {
    display: inline;
    margin-left: 0.3rem;
  }
}
.label {
  position: relative;
  font-size: 10px;
  top:-2.5rem;
  left:0.4rem;
  background-color: white;
  width: fit-content;
  padding:0 2px;
}
